/* ===================================================
   KLYRAVA OS
   MASTER V12
=================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#07080b;

    color:#ffffff;

    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;

}

.screen{

    position:absolute;

    inset:0;

    display:none;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    background:
    radial-gradient(circle at top,#1d2440 0%,#07080b 65%);

}

.active{

    display:flex;

}

/*==========================
STATUS
==========================*/

.status{

    position:absolute;

    top:18px;

    left:18px;

    right:18px;

    display:flex;

    justify-content:space-between;

    color:#bfc6d8;

    font-size:12px;

    letter-spacing:1px;

}

/*==========================
SOS
==========================*/

#sos{

    width:220px;

    height:220px;

    border:none;

    border-radius:50%;

    background:
    radial-gradient(circle at 30% 30%,
    #ff6b82,
    #d61d47);

    color:white;

    font-size:64px;

    font-weight:bold;

    box-shadow:

    0 20px 60px rgba(214,29,71,.45);

}

#sos:active{

    transform:scale(.97);

}

/*==========================
PLAYER BUTTON
==========================*/

.playerButton{

    margin-top:36px;

    width:82px;

    height:82px;

    border:none;

    border-radius:50%;

    background:

    linear-gradient(
        180deg,
        #3fe66d,
        #17953b
    );

    box-shadow:

    0 10px 28px rgba(22,149,59,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

}

.playerButton:active{

    transform:scale(.95);

}

/*==========================
PLAY ICON
==========================*/

.playIcon{

    color:white;

    font-size:38px;

    margin-left:4px;

    font-weight:bold;

}

/*==========================
PLAYER
==========================*/

.album{

    width:180px;

    height:180px;

    border-radius:24px;

    background:

    linear-gradient(
        135deg,
        #7a65ff,
        #ef4b5a
    );

}

.track{

    margin-top:24px;

    font-size:22px;

}

.bar{

    width:260px;

    height:6px;

    margin-top:24px;

    border-radius:20px;

    overflow:hidden;

    background:#2b2b2b;

}

#fill{

    width:0;

    height:100%;

    background:white;

}

.backButton{

    margin-top:30px;

    border:none;

    padding:12px 28px;

    border-radius:999px;

    background:#7a65ff;

    color:white;

}
